body {
    background-image: url("../figuras/forest.jpeg");
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 50px
}

p1 {
    color: white;
    font-family: arial;
    font-size: 30px;
    text-align: center;
}
p2 {
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 40px;
}
a {
    color: white;
    font-family: arial;
    font-size: 20px;
}
td {
    text-align: center;
}
